# This is an example file.
# Do not put real URLs or secret keys in here!
# In Vercel, add this exact variable name to your Environment Variables page.

VITE_MODAL_URL=https://your-modal-workspace-name--instantmeshworker-submit.modal.run
